<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome!</title>
</head>

<body>
  <div class="main-page">
    <img [src]="ghibliHeader" style="width: 500px; margin-bottom: -70px;" />
    <h1>
      Welcome to ghibliFlix!
    </h1>
    <!-- Adding the click event on the signup/login buttons -->
    <button mat-raised-button (click)="openUserRegistrationDialog()"
      style="margin-right: 30px; background-color: #8fbc8f80;" class="userButton">
      Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px; background-color: #8fbc8f80;"
      class="userButton">
      Login
    </button>
  </div>
</body>

</html>