$primary: rgba(143, 188, 143, 0.5);
$card-bg: rgba(143, 188, 143, 0.2);
$body-bg: Ghostwhite;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
  background-color: $body-bg;
}

.title {
  display: flexbox;
  background-color: $body-bg;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  z-index: 1;
}

.movieCard {
  background-color: $card-bg;
  text-align: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.cardHeader {
  padding-bottom: 10px;
}

.movieTitle {
  font-variant: all-small-caps;
  text-align: center;
}

.buttonLink {
  font-variant: all-small-caps;
  font-size: 17px;
  border-radius: 10px;
}