$primary: rgba(143, 188, 143, 0.5);
$navBar: rgba(143, 188, 143, 0.2);
$body-bg: Ghostwhite;

body {
  text-align: center;
}

.userButton {
  background-color: #8fbc8f80;
  color: #000;
  font-size: 16px;
  font-variant: all-small-caps;
}