<mat-card>
  <mat-card-header class="deleteUser">
    <mat-card-title>are you sure?</mat-card-title>
  </mat-card-header>

  <!-- DELETE USER FORM
    Requires user to input username and password to confirm -->
  <mat-card-content>
    <form class="deleteConfirm">
      <mat-form-field class="confirmField">
        <mat-label class="formLabel">Username</mat-label>
        <input matInput [(ngModel)]="userInput.Username" type="text" placeholder="{{this.user.Username}}"
          name="Username" required>
      </mat-form-field>
      <mat-form-field class="confirmField">
        <mat-label class="formLabel">Password</mat-label>
        <input matInput [(ngModel)]="userInput.Password" type="password" placeholder="******" name="Password" required>
      </mat-form-field>
    </form>
  </mat-card-content>

  <!-- DELETE USER BUTTON -->
  <mat-card-actions>
    <button mat-raised-button (click)="userInput.Password ? deleteUser() : snackBar.open('password required!', 'OK', {
      duration: 2000
    })" class="deleteButton">
      Delete account
    </button>
  </mat-card-actions>
</mat-card>