$primary: rgba(143, 188, 143, 0.5);
$card-bg: rgba(143, 188, 143, 0.2);
$body-bg: Ghostwhite;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

h1 {
  margin-left: 77px;
  font-size: 50px;
  text-align: center;
  font-family: "Dosis", sans-serif;
}

.profile {
  padding-top: 70px;
}

.profileUser {
  width: 100%;
  text-align: center;
}

.editText {
  display: none;
}

.editButton {
  padding-left: 15px;
  border-radius: 50px;
}

.editButton:hover {
  margin-right: -5px;
}

.editButton:hover .editText {
  margin-right: -14px;
  padding-right: 15px;
  display: inline;
  width: 50px;
}

.movieCard {
  background-color: $card-bg;
  text-align: center;
  align-items: center;
  margin-left: 20px;
  padding-bottom: 15px;
  border-radius: 20px;

}

.cardHeader {
  padding-bottom: 10px;
}

.movieTitle {
  font-variant: all-small-caps;
  text-align: center;
}